@font-face {
   font-family: 'Gilbert-Color-Bold-Preview5';
   font-display: swap;
   src: url('file:///C:/Users/Noah/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-07_160012/fonts/Gilbert-Color-Bold-Preview5/font.ttf');
}
